<div class="recipe-form-section">
    <div class="section-title">Ingredients</div>
    <div class="form-group">
        <input type="text" class="form-control" id="ingredient-input" placeholder="Add an ingredient and press Enter" />
        <small class="form-text text-muted">Type ingredients one by one and press Enter to add</small>
        <div id="ingredients-tags" class="mt-2"></div>
    </div>
</div>
